.clear{
  clear: both;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.menu{
  background-color: black;/* menunun arka plan rengini siyah olarak belirledik*/
  width: 800px;/* genişliğini 800px olarak belirledik */
  margin: 50px auto 0;/* üstten 50px mesafe aldık sağ ve soldan otomatik mesafe belirlenmesini istedik alttan ise 0 dedik */
}
.menu li{
  float: left;/* menu classının sırasız listesindeki elemanları yan yana getirdik yüzdürmek gibi bir şey */
  width: 200px;/* ve tüm li lere 200px genişlik verdik 4 tane var hepsi eşit genişlikte 800px etti */
  border-left: 1px solid red;/* sol kenarlarına kenarlık ekledik 1px kalınlığında tam çizgi solid ve kırmızı renk */
}
.menu li a{
  text-align: center;/* tüm li içindeki a şeklinde link alan metinleri tam ortalattık */
  text-decoration: none;/* linklerin altındaki çizgileri kaldırdık */
  display: block;/* block olmasını ve kapsadığı li de üstüne tıklamasakta block gibi davranmasını sağladık */
  color: white;/* yazı rengini beyaz yaptık */
  font-size: 24px;/* yazı boyutunu 24px yaptık */
  font-family: "Tahoma";
  padding:20px;/* li içerisinde yer alan a ların kapsayıcıdan 20px tüm yönler için içte olmasını sağladık */
}
.menu li:first-child{
  border-left: 0;/* border left eklediğimizde her li için gelmişti fakat ilk li de olmasını istemiyoruz ilk çocuktan bunu kaldırıyoruz */
}
